/*
  text-color: #fec024 (gold)
  text-color: #ffec88 (lt yellow)
  text-shadow: #cd661d (lt brown)
  toons: .ire, .sara, .ny, .gny, .raz, 
  .boum, .soly, .gnawm, .ell, .quyl, 
  .brom, .em, .jyn, .tam, 
  .lina, .kiri, .ruff, .nuff, .muff, .tuff, 
  .moya, .lyri, .nuffy, .niq, .sny, .doom, .taly, .gnome, .noum, .roam, .gopher, .tanky 
  misc: .note, .stories
  characters: h3, p, .race, .class, .spec, .hair, .eye, .gear
*/
/* GNOME AT HEART STYLESHEET */
html {
  font-size: 16px;
}
body {
  align-items: center;
  background: url(../img/gnometree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
header {
  color: #fec024;
}
header h1 {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
header h3 {
  color: #ffec88;
  font-size: 0.75em;
  text-align: center;
  text-shadow: 2px 2px #fec024;
}
header h6 {
  font-size: 0.30em;
  text-align: center;
}
/* NAVIGATION */
#roster {
  width: 4%;
}
nav {
  width: 100%;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
nav img {
  width: 100%;
}
/* CHARACTERS */
main {
  height: 100%;
  width: 100%;
}
#toons {
  background: none;
  display: block;
  height: 70%;
  margin: auto;
  position: relative;
  width: 80%;
}
#toons ul li {
  display: inline-block;
}
#toons ul li a {
  color: #fec024;
  font-size: 1em;
  text-decoration: none;
}
/* MAGE */
.ire {
  bottom: -60%;
  left: 70%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.sara {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.ny {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.gny {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.nuff {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.raz {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
/* PRIEST */
.kiri {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.lina {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.muff {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.ruff {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.tuff {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
/* DRUID */
.tam {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.brom {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.em {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d
}
.jyn {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d
}
/* HUNTER */
.boum {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.gnawm {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.ell {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.q {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.soly {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
/* ROGUE */
.lyri {  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.niq {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.nuf {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.sny {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
/* MONK */
.gnis {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d; 
}
.gnome {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.noum {  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.roam {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.doom {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
/* WARRIOR */
.gopher {  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.tanky {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
/* PALADIN */
.moya {
  bottom: 20%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
.stories {
  position: absolute;
  text-shadow: 1px 1px #cd661d;
  font-weight: bold;
  text-transform: uppercase;
}
.note {
  bottom: 40%;
  color: #fec024;
  font-size: 1em;
  left: 50%;
  position: absolute;
  text-shadow: 1px 1px #cd661d;
}
@media (min-width: 768px) {
  body {
    background-size: contain;
    height: 100%;
    width: 100%;
  }
  header h1 {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
  }
  header h3 {
    color: #ffec88;
    font-size: 1em;
    text-align: center;
    text-shadow: 2px 2px #fec024;
  }
  header h6 {
    font-size: 0.5em;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  body {
    background-size: contain;
    height: 100%;
    width: 100%;
  }
  header h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
  header h3 {
    color: #ffec88;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px #fec024;
  }
  header h6 {
    font-size: 0.75em;
    text-align: center;
  }
}